.pokemon-select-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    z-index: 12;
    width: 95%;
    height: 95%;
    margin: auto;
    border-radius: 5px;
    border: solid 1px green;
    box-sizing: border-box;
    padding: 20px;
    background: #313131;
    color: white;
}

.pokemon-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 7px;
}

.pokemon-option {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 9px;
    position: relative;
    background-image: linear-gradient(to bottom, #19709f, #0e5479);
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    border: solid 2px #313131;
}

.pokemon-option:hover {
    border-color: yellow;
    background-image: linear-gradient(to bottom, #1b77a9, #145a80);
}

.pokemon-option__info {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.pokemon-option__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    background-image: linear-gradient(to bottom right, #134f6e, #0b374d);
    border: solid 1px black;
    border-radius: inherit;
}

.pokemon-option__image img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.pokemon-option__image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 2px black inset;
    border-radius: inherit;
}
.pokemon-option__name {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: auto;
    width: 100%;
}

.pokemon-option__health {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.pokemon-option__health span {
    color: #FCFF5E;
}

.health-indicator {
    font-size: .9em;
    background-color: black;
    padding: 3px 10px;
    border-radius: 50px;
    font-weight: bold;
    margin-left: auto;
}

.pokemon-select-menu__footer {
    align-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

.pokemon-select-menu__footer button {
    color: white;
    font-size: 1em;
    background: #E53428;
    padding: 6px 15px;
    border-radius: 5px;
}
.pokemon-select-menu__footer button:hover,
.pokemon-select-menu__footer button:focus {

}
