@import 'reset.css';
@import 'fonts.css';
@import 'startscreen.css';
@import 'battle-menu.css';
@import 'move-animations.css';
@import 'pokemon-menu.css';
@import 'items-menu.css';
@import 'status-card.css';

html, body {
    height: 100vh;
}

body {
    display: grid;
    place-items: center;
    background: #eeeeee;
    font-family: "Exo 2", Helvetica, sans-serif;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

#game-canvas {
    position: relative;
    width: 600px;
    height: 360px;
    background-color: white;
    overflow: hidden;
    animation: fadeIn 300ms;
    border-radius: 5px;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    animation: spin 800ms linear infinite;
}

.player-container {
    position: absolute;
    z-index: 5;
    left: 5%;
    bottom: 7%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.player-container:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30%;
    width: 100%;
    height: 50%;
    border-radius: 60%;
    background: #e8e8e8;
}

.opponent-container {
    position: absolute;
    z-index: 5;
    right: 10%;
    top: 5%;
    width: 20%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opponent-container .pokemon {
    height: 100%;
}

.opponent-container .character {
    height: 100%;
    margin-bottom: 20px;
}

.player-container .character {
    height: 100%;
    margin-bottom: 20px;
}

.opponent-container:before {
    content: "";
    position: absolute;
    left: -10%;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 100%;
    height: 20%;
    border-radius: 50%;
    background: #e8e8e8;
}

.player-container img,
.opponent-container img {
    position: relative;
    width: 100%;
    height: 150%;
    object-fit: contain;
    object-position: bottom;
    image-rendering: pixelated;
    aspect-ratio: 1 / 1;
}

.player-container .pokemon {
    position: relative;
    height: 150%;
}

.pokemon {
    aspect-ratio: 1 / 1;
}

.battle-ui {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    color: white;
}

/**
    PopupMenu - For selecting items and pokémon.
 */

.popup-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    z-index: 12;
    width: 95%;
    height: 95%;
    margin: auto;
    border-radius: 5px;
    border: solid 1px green;
    box-sizing: border-box;
    padding: 20px;
    background: #313131;
    color: white;
}

.popup-menu__footer {
    align-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

.popup-menu__footer button {
    color: black;
    font-size: 1em;
    background: #ecb815;
    padding: 6px 15px;
    border-radius: 5px;
}
.popup-menu__footer button:hover,
.popup-menu__footer button:focus {
    background: #f1bf20;
}

.cancel-button {
    color: black;
    font-size: 1em;
    background: #ecb815;
    padding: 6px 15px;
    border-radius: 5px;
}
.cancel-button:hover,
.cancel-button:focus {
    background: #f1bf20;
}



/**
    Keyframes & animations
 */

.fadeIn {
    animation: fadeIn 300ms;
}

.animate-slide-right {
    animation: fadeInFromRight 1000ms ease;
}

.animate-slide-left {
    animation: fadeInFromLeft 1000ms ease;
}

@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translateX(80%);
    }

    60% {
        opacity: .7;
        transform: translateX(0);
    }

    80% {
        opacity: .7;
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-80%);
    }

    60% {
        opacity: .7;
        transform: translateX(0);
    }

    80% {
        opacity: .7;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

.pokemon-low-hp {
    animation: animatePokemonLowHP 600ms linear infinite !important;
}

@keyframes animatePokemonLowHP {
    from {
        opacity: 1;
    }

    50% {
        opacity: .7;
    }

    to {
        opacity: 1;
    }
}

.animate-pokemon-join {
    animation: pokemonJoinIn 200ms ease-out;
}

@keyframes pokemonJoinIn {
    from {
        opacity: 0;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
