@import 'reset.css';
@import 'startscreen.css';
@import 'battle-menu.css';
@import 'move-animations.css';

html, body {
    height: 100vh;
}

body {
    display: grid;
    place-items: center;
    background: #eeeeee;
    font-family: "Exo 2", Helvetica, sans-serif;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

#game-canvas {
    position: relative;
    width: 600px;
    height: 360px;
    background-color: white;
    overflow: hidden;
    animation: fadeIn 300ms;
    border-radius: 5px;
}

.player-container img,
.opponent-container img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}

.player-container {
    position: absolute;
    z-index: 5;
    left: 10%;
    bottom: 25%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.player-container:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30%;
    width: 100%;
    height: 50%;
    border-radius: 60%;
    background: #e8e8e8;
}

.opponent-container {
    position: absolute;
    z-index: 5;
    right: 10%;
    top: 5%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opponent-container img {
    width: 80%;
}

.opponent-container:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -10%;
    width: 100%;
    height: 40%;
    border-radius: 50%;
    background: #e8e8e8;
}

.battle-ui {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    padding: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    color: white;
}

.status {
    display: none;
    position: relative;
    color: white;
    background-color: #252525;
    padding: 3%;
    border-radius: 5px;
    align-self: flex-start;
    width: 40%;
    animation: fadeIn 300ms;
}

.status:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    border-top: 20px solid white;
    border-left: 30px solid #252525;
}

.status__name {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
}

.status__health {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.status__health span {
    color: #FCFF5E;
}

.health-bar {
    position: relative;
    width: 100%;
    background: #121212;
    height: 10px;
    border-radius: 50px;
}

.health-bar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 2px black inset;
    border-radius: inherit;
}

.current-health {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: inherit;
    background-color: #E53428;
    z-index: 20;
    transition: width 300ms ease;
}

.status--opponent {
    margin-bottom: auto;
}

.status--player {
    align-self: flex-end;
}

/**
    Keyframes & animations
 */

.fadeIn {
    animation: fadeIn 300ms;
}

.animate-slide-right {
    animation: fadeInFromRight 1000ms ease;
}

.animate-slide-left {
    animation: fadeInFromLeft 1000ms ease;
}

@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translateX(50%);
    }

    60% {
        opacity: .7;
        transform: translateX(0);
    }

    80% {
        opacity: .7;
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }

    60% {
        opacity: .7;
        transform: translateX(0);
    }

    80% {
        opacity: .7;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

.animate-lowhp {
    animation: animatePokemonLowHP 600ms linear infinite;
}

@keyframes animatePokemonLowHP {
    from {
        opacity: 1;
    }

    50% {
        opacity: .7;
    }

    to {
        opacity: 1;
    }
}

.animate-pokemon-join {
    animation: pokemonJoinIn 200ms ease-out;
}

@keyframes pokemonJoinIn {
    from {
        opacity: 0;
    }
}
